
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="container">
  <h2>AccessDenied</h2>
  <div> Would you prefer to <a asp-controller="Gallery" asp-action="Logout">Log in as someone else?</a> </div>
  </div>
